{% extends 'base.html' %}
{% block conteudo %}

<div>
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <form action="">
                <div class="row mt-3">
                    <h2>Login</h2>
                </div>
                <div class="row mt-3">
                    <div class="form-group col-lg-12 mx-auto">
                        <label for="inputUser">Usuário</label>
                        <input type="text" class="form-control" id="inputUser" placeholder="Usuário" required>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="form-group col-lg-12 mx-auto">
                        <label for="inputPassword">Senha</label>
                        <input type="password" class="form-control" id="inputPassword" placeholder="Senha" required>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary mt-4">Concluir</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock conteudo %}