{% extends 'base.html' %}

{% block titulo %}
Cadastro
{% endblock titulo %}

{% block conteudo %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <form method="POST">
                <div class="row mt-3">
                    <h2>Registre-se</h2>
                </div>
                <div class="row mt-3">
                    <h2>Registre-se</h2>
                </div>
                <div class="row mt-3">
                    <div class="form-group col-md-4 mx-auto">
                        <label for="inputName">Nome completo</label>
                        <input type="text" class="form-control" id="inputName" name="nome" placeholder="Nome completo"
                            required>
                    </div>
                    <div class="form-group col-md-4 mx-auto">
                        <label for="inputEmail">E-mail</label>
                        <input type="email" class="form-control" id="inputEmail" name="email" placeholder="E-mail"
                            required>
                    </div>
                    <div class="form-group col-md-4 mx-auto">
                        <label for="inputTel">Telefone</label>
                        <input type="text" class="form-control" id="inputTel" name="telefone" placeholder="Telefone">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="form-group col-md-6 col-lg-6 mx-auto">
                        <label for="inputUser">Usuário (Login)</label>
                        <input type="text" class="form-control" id="inputUser" name="login" placeholder="Usuário"
                            required>
                    </div>
                    <div class="form-group col-md-6 col-lg-6 mx-auto">
                        <label for="inputPassword">Senha</label>
                        <input type="password" class="form-control" id="inputPassword" name="senha" placeholder="Senha"
                            required>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="form-group col-md-6 col-lg-6 mx-auto">
                        <label for="inputGrupo">Grupo</label>
                        <input type="text" class="form-control" id="inputGrupo" name="grupo" placeholder="Grupo">
                    </div>
                    <div class="form-group col-md-6 col-lg-6 mx-auto">
                        <label for="inputSetor">Setor</label>
                        <select id="inputSetor" name="setor" class="form-control">
                            <option selected>Escolha...</option>
                            <option>Administrativo</option>
                            <option>Contábil</option>
                            <option>Financeiro</option>
                            <option>TI</option>
                            <option>Relacionamento</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="form-group col-md-6 col-lg-6 mx-auto">
                        <label for="inputCargo">Cargo</label>
                        <input type="text" class="form-control" id="inputCargo" name="cargo" placeholder="Cargo">
                    </div>
                    <div class="form-group mt-3 col-md-6 col-lg-6 mx-auto">
                        <label for="inputState">Usuário ativo?</label>
                        <select id="inputState" name="ativo" class="form-control">
                            <option value="Ativo" selected>Ativo</option>
                            <option value="Inativo">Inativo</option>
                        </select>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary mt-4">Concluir</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

{% endblock conteudo %}