{% extends 'auth/template_auth.html' %}
{% block conteudo %}

<h1>Gerenciador de tarefas</h1>
<p>Gerencie suas atividades através desse site!</p>

<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th scope="col">Tarefas</th>
            <th scope="col">Descrição</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>

    <tbody>
            <tr>
                <td>#</td>
                <td>#</td>
                <td>#</td>
            </tr>
    </tbody>
</table>

{% endblock conteudo %}
